# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd
from IPython.display import display  # Para mostrar el DataFrame como tabla

# URLs de los archivos CSV
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

# Leer los archivos CSV en DataFrames
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Combinar los datasets
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Definir una función de limpieza
def clean_data(df):
    # Limpiar los nombres de las columnas
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Calcular el porcentaje de valores nulos por columna
    null_percentage = df.isnull().mean() * 100
    print("Porcentaje de valores nulos por columna:")
    print(null_percentage)
    
    # Eliminar columnas con más del 50% de valores nulos
    threshold = 0.5 * df.shape[0]  # 50% del número total de filas
    df_cleaned = df.dropna(thresh=threshold, axis=1)  # Mantener columnas con al menos el 50% de datos
    
    return df_cleaned

# Aplicar la función de limpieza al DataFrame combinado
cleaned_df = clean_data(combined_df)

# Mostrar el DataFrame limpio como tabla y las primeras 10 filas
display(cleaned_df.head(10))

Porcentaje de valores nulos por columna:
customer                     24.324996
st                           82.880570
gender                       83.891005
education                    24.324996
customer_lifetime_value      24.382972
income                       24.324996
monthly_premium_auto         24.324996
number_of_open_complaints    24.324996
policy_type                  24.324996
vehicle_class                24.324996
total_claim_amount           24.324996
state                        41.444426
gender                       41.444426
dtype: float64

,customer,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
5,OC83172,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042,NaN,NaN
6,XZ87318,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000,NaN,NaN
7,CF85061,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680,NaN,NaN
8,DY87989,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000,NaN,NaN
9,BQ94931,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834,NaN,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [15]:
import pandas as pd
from IPython.display import display  # Para mostrar el DataFrame como tabla

# Cargar el dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
display(df.head())

Primeras filas del DataFrame:

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [17]:
# Información general del DataFrame
print("\nInformación del DataFrame:")
print(df.info())

# Resumen estadístico de las columnas numéricas
print("\nResumen estadístico:")
print(df.describe())

# Verificar la cantidad de valores nulos
print("\nCantidad de valores nulos por columna:")
print(df.isnull().sum())

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

Resumen estadístico:
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000

Cantidad de valores nulos por columna:
unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [19]:
# Limpieza de columnas (puedes ajustar según sea necesario)
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Eliminación de columnas con más del 50% de nulos
threshold = 0.5 * df.shape[0]
df_cleaned = df.dropna(thresh=threshold, axis=1)

# Verificar la cantidad de valores nulos después de la limpieza
print("\nCantidad de valores nulos después de la limpieza:")
print(df_cleaned.isnull().sum())

Cantidad de valores nulos después de la limpieza:
unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [21]:
# Ejemplo de convertir variables categóricas en variables dummy
df_dummies = pd.get_dummies(df_cleaned, drop_first=True)

# Mostrar las primeras filas del DataFrame estructurado
print("\nPrimeras filas del DataFrame estructurado:")
print(df_dummies.head())

Primeras filas del DataFrame estructurado:
   unnamed:_0  customer_lifetime_value  income  monthly_premium_auto  \
0           0              4809.216960   48029                    61
1           1              2228.525238       0                    64
2           2             14947.917300   22139                   100
3           3             22332.439460   49078                    97
4           4              9025.067525   23675                   117

   months_since_last_claim  months_since_policy_inception  \
0                 7.000000                             52
1                 3.000000                             26
2                34.000000                             31
3                10.000000                              3
4                15.149071                             31

   number_of_open_complaints  number_of_policies  total_claim_amount  month  \
0                   0.000000                   9          292.800000      2
1                   0.000000                   1          744.924331      1
2                   0.000000                   2          480.000000      2
3                   0.000000                   2          484.013411      1
4                   0.384256                   7          707.925645      1

   ...  sales_channel_Branch  sales_channel_Call Center  sales_channel_Web  \
0  ...                 False                      False              False
1  ...                 False                       True              False
2  ...                 False                       True              False
3  ...                  True                      False              False
4  ...                  True                      False              False

   vehicle_class_Luxury Car  vehicle_class_Luxury SUV  vehicle_class_SUV  \
0                     False                     False              False
1                     False                     False              False
2                     False                     False               True
3                     False                     False              False
4                     False                     False              False

   vehicle_class_Sports Car  vehicle_class_Two-Door Car  vehicle_size_Medsize  \
0                     False                       False                  True
1                     False                       False                  True
2                     False                       False                  True
3                     False                       False                  True
4                     False                       False                  True

   vehicle_size_Small
0               False
1               False
2               False
3               False
4               False

[5 rows x 9244 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [11]:
# Your code goes here